@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2 class="display-4">Sistema de Cadastro - ECOFOLHAS</h2>
    <hr class="my-4">
    @*<p>Usando o plugin Webcamjs</p>*@
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Tecnico" asp-action="Index">Lista de Técnicos Cadastrados</a>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Tecnico" asp-action="Incluir">Cadastrar um Novo Técnico</a>
    </p>
</div>